# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
shop_env/
venv/
.venv/

# Vue
node_modules/
dist/

# IDE
.vscode/
.idea/

# Environment
.env
.env.*

# Logs
*.log

# OS
.DS_Store
Thumbs.db